.opcion{
    border: solid transparent;
    background-color: tomato;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    margin-bottom: 5px;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    transition: 1s all ease 0s;
}
.opcion :hover{
    background-color: rgb(231, 46, 14);
}
.opcion2{
    border: solid transparent;
    margin-top: 10px;
    background-color:red;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    transition: 1s all ease 0s;
}
.opcion2 :hover{
    background-color: rgb(153, 26, 4)
}
.table{
    text-align: center;
    border: solid 2px;
}
.columna{
    border: solid 2px;
    padding: 15px;
}
#tituconsulta{
    color: colores;
    animation-name: colores;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes colores{
    0%,10%{color: blue;}
    10%,20%{color: blueviolet;}
    20%,30%{color:darkorchid;}
    30%,40%{color:deeppink;}
    40%,50%{color:fuchsia;}
    50%,60%{color:indianred;}
    60%,0%{color:orangered;}
    70%,80%{color:red;}
    80%,90%{color:maroon;}
}